<footer>
    <a href="../completas/login.ejs">Iniciar Sesion</a>
    <a href="../completas/sobreNosotros.ejs">Sobre Nosotros</a>
    <a href="../completas/contacto.ejs">Contacto</a>
    <a href="../completas/preguntas.ejs">Preguntas frecuentes</a>
    <p>© Aetherium 2025</p>
</footer>

<script src="/scripts/vuelos.js" defer></script>
</body>
</html>