<footer>
    <a href="../completas/login.ejs">Iniciar Sesion</a>
    <a href="../completas/sobreNosotros.ejs">Sobre Nosotros</a>
    <a href="../completas/contacto.ejs">Contacto</a>
    <a href="../completas/preguntas.ejs">Preguntas frecuentes</a>
    <p>© Aetherium 2025</p>
</footer>
</div>
<script>
    window.firebaseConfig = JSON.parse('<%- JSON.stringify(firebaseConfig) %>');
  </script>
  <script type="module" src="/scripts/vuelos.js"></script>
  
</body>
</html>