<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Vuelos</title>
    <link rel="stylesheet" href="/estilos/vuelos.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="barra-navegacion">
            <div class="logo-aetherium">
              <img src="/imagenes/logo.png" alt="Logo">
              <span>Aetherium</span>
            </div>
            <div class="navegacion-derecha">
              <a href="/login">Iniciar sesión</a>
            </div>
          </nav>
          
          <div class="buscador">
            <a href="/vuelos"><button>✈️ Vuelos</button></a>
            <a href="/hoteles"><button>🏨 Hoteles</button></a>
          </div>
    </header>
</body>
</html>