.boton-vuelos-h {
  margin: 1rem auto;
  background-color: #FDC921;
  color: #1d2d4a;
  padding: 0.75rem 1.5rem;
  border: 2px solid #1d2d4a;
  border-radius: 8px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  display: block;
  width: 13%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.boton-vuelos-h {
  background-color: #fbc921cc;
}

.hotel-card {
  width: 100%;
  max-width: 320px;
  background-color: rgba(255, 253, 247, 0.95);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  overflow: hidden;
  position: relative;
  border: 2px solid #274472;
}

.hotel-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.hotel-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: transform 0.4s ease;
}

.hotel-card:hover .hotel-img {
  transform: scale(1.05);
}

.hotel-card h3,
.hotel-card p {
  transition: color 0.3s ease;
}

.hotel-card:hover h3 {
  color: #274472;
}

.hotel-card:hover p {
  color: #3f598a;
}

.estrellas {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin: 0.5rem 0;
}

.estrella {
  color: #ccc;
  font-size: 1.2rem;
}

.estrella.llena {
  color: #6e8ec9;
}

.ver-mas-container {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 2rem;
}

.ver-mas-btn {
  background-color: #1d2d4a;
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.ver-mas-btn:hover {
  color: #1d2d4a;
  background-color: #6e8ec9;
}

.buscador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.filtros-container .buscador-hotel {
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 320px;
  border-radius: 8px;
  border: 2px solid #1d2d4a;
  font-size: 1rem;
  outline: none;
  text-align: center;
  margin-bottom: 1rem;
}

.buscador-hotel::placeholder {
  color: #1d2d4a;
  font-style: italic;
  opacity: 0.8;
}

.filtros-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.buscador-container .buscador-hotel,
.selector-estrellas {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 2px solid #274472;
  font-size: 1rem;
  font-family: inherit;
}


.fin-lista {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  font-style: italic;
  color: #1d2d4a;
  grid-column: 1 / -1;
}
