<!-- frontend/vistas/completas/login.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Iniciar Sesión</title>
</head>
<body>
  <h1>Login</h1>
  <form id="loginForm">
    <input type="email" id="email" placeholder="Correo" required />
    <input type="password" id="password" placeholder="Contraseña" required />
    <button type="submit">Iniciar sesión</button>
  </form>
  <a href="../../../backend/src/rutas/register.mjs">¿No estás registrado?</a>
<a href="#" id="forgotPasswordLink">¿Olvidaste tu contraseña?</a>

  <script>
    window.firebaseConfig = <%- JSON.stringify(firebaseConfig) %>;
  </script>
  <script type="module" src="/scripts/login.js"></script>
</body>
</html>
