<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <link rel="stylesheet" href="/estilos/login&register.css" />
</head>
<body>
 <div class="background">
    <div class="login-container">
      <div class="logo">
        <span class="text">AETHERIUM</span>
      </div>
      <h2>LOG IN</h2>
      
      <form id="loginForm">
        <!-- Email -->
        <div class="input-group">
          <input type="email" id="email" placeholder=" " required />
          <label for="email">Email</label>
          <span class="icon">📧</span>
        </div>

        <!-- Password -->
        <div class="input-group">
          <input type="password" id="password" placeholder=" " required />
          <label for="password">Password</label>
          <span class="icon">🔒</span>
        </div>

        <div class="options">
          <input type="checkbox" id="remember" />
          <label for="remember"> Remember me </label>
        </div>

        <button type="submit">Login</button>
      </form>
      <a href="#" id="forgotPasswordLink" class="forgot">Forgot Password?</a>
      <a href="/register" class="forgot">Aren't you register yet?</a>
    </div>
  </div>
  <script>
    window.firebaseConfig = JSON.parse('<%- JSON.stringify(firebaseConfig) %>');
  </script>
  <script type="module" src="/scripts/login.js"></script>
</body>
</html>

<!--No funciona css,(creo que hay que cambiarlo en app.mjs)-->